html,
body,
div,
span,
h2,
h3,
h4,
h5,
h6,
p,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}
