:root {
  --color-brand-1: #bc00ff;
  --color-brand-2: #540073;
  --color-grey-1: #212529;
  --color-grey-2: #343a40;
  --color-grey-3: #dee2e6;
  --color-grey-4: #e9ecef;
  --color-grey-5: #f1f3f5;
  --color-grey-6: #ffffff;
  --radius-default: 8px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-grey-5);
}

/*HEADER*/

header {
  height: 562px;
  background-image: url(../img/header-bg.jpg);
  
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

header img {
  width: 192px;
  height: 88px;
  margin-top: 54px;
}

header p {
  line-height: 36px;
}

header h4 {
  line-height: 36px;
  margin-top: 10px;
}

button {
  width: 296px;
  height: 48px;
  border-radius: 8px;
  background-color: #bc00ff;
  cursor: pointer;
  padding: 12px 50px;
  gap: 10px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  border: none;
}

/*MAIN*/

.main-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 20px 0;
}
/*CARD DE VAGAS*/

.card {
  background-color: #ffffff;
  width: 818px;
  border-radius: 8px;
  padding: 38px;
  max-height: 307px;
  margin: 20px;
}

span {
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 15px 0;
}

.card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #343a40;
  width: 85%;
  margin: 20px 0;
}

.span2 {
  display: block;
  background-color: #dee2e6;
  border-radius: 8px;
  height: 30px;
  width: 90px;
  text-align: center;
}

.container-button {
  display: flex;
  justify-content: space-between;
}

aside {
  background-color: #ffffff;
  width: 503px;
  border-radius: 8px;

  height: 316px;
  margin: 20px 30px;
}

aside h2 {
  text-align: center;
}

.mini-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 38px;
  height: 60px;
}
